<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Map - My Travel Blog</title>
<link rel="stylesheet" href="css/map.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
</head>
<body>

<header>
  <h1>My Travel Blog</h1>
  <nav>
    <ul class="nav">
      <li><a href="index.html">Home</a></li>
      <li><a href="map.html">Map</a></li>
      <li class="dropdown">
        <a href="#">Posts</a>
        <ul class="dropdown-menu">
          <li class="dropdown-sub"><a href="#">UK</a><ul class="sub-menu"><li><a href="uk-london.html">London</a></ul></li>
          <li class="dropdown-sub"><a href="#">France</a><ul class="sub-menu"><li><a href="fr-paris.html">Paris</a></ul></li>
          <li class="dropdown-sub"><a href="#">Italy</a><ul class="sub-menu"><li><a href="it-rome.html">Rome</a></ul></li>
        </ul>
      </li>
      <li><a href="#">About</a></li>
    </ul>
  </nav>
</header>

<main>
  <div id="map-container">
    <div id="map"></div>
    <div id="info-box">Hover over a marker to see info</div>
  </div>
</main>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="js/map.js"></script>
</body>
</html>
